
body {
    background-color: #1E1E24;
    color: #eaeaea;
    text-align: center;
}

nav {
       width: 100%;
       height: 70px;
       background-color:  #121216;
       clear: both;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       box-sizing: border-box;
       justify-content: space-evenly;
       display: grid;
       grid-template-columns: .2fr 1fr 1fr 1fr;
   }

nav a {
       color: #eaeaea;
       font-size: 1.5em;
       text-decoration: none;
       display: flex;
       align-items: center;
   }

nav a:hover {
    background-color: #D4AF37;
    text-shadow: 4px 4px 2px #3A506B;
   }
nav img {
    height: 70px;
    float: left;

}

main p {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
main img {
    margin-left: 80px;
    margin-right: 80px;
}