
body {
    background-color: #1E1E24;
    color: #eaeaea;
    text-align: center;
}

nav {
       width: 100%;
       height: 70px;
       background-color:  #121216;
       clear: both;
       text-align: center;
       font-family: Arial, Helvetica, sans-serif;
       box-sizing: border-box;
       justify-content: space-evenly;
       display: grid;
       grid-template-columns: .2fr 1fr 1fr 1fr;
   }

nav a {
       color: #eaeaea;
       font-size: 1.5em;
       text-decoration: none;
       display: flex;
       align-items: center;
   }

nav a:hover {
    background-color: #D4AF37;
    text-shadow: 4px 4px 2px #3A506B;
   }
nav img {
    height: 70px;
    float: left;

}

main p {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
main img {
    margin-left: 80px;
    margin-right: 80px;
}


/*Clone Wars Page Styles*/
#clonewars {
    margin-bottom: 50px;
    justify-content: center;
    margin: 80px;
}
.spacer {
    height: 35px;
}
#c_logo {
    margin-bottom: 25px;
    height:250px;
    width: auto;
    box-shadow: 0 0 10px 10px  #e6d227;
}
#c_logo:hover {
    transform: scale(1.30);
}
#main_images {
    display: flex;
    justify-content: center;
    gap: 150px;
}
.clone_topic_pics {
    height:180px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    border-radius: 15px;
    border: 6px solid black;
}
.clone_topic_pics:hover {
    box-shadow: 0 0 15px 5px  #e6d227;
    transform: scale(1.05); 
    /* Slightly enlarge the image on hover */
}
#content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;  
}
.headers {
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.headers:hover {
    color: #D4AF37;
    text-shadow: 2px 2px 2px #3A506B;
    transform: rotate(350deg);
}
.wording{
    font-size: 18px;
}